html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #00071a;
}

::-webkit-scrollbar-thumb {
  background: rgb(18, 18, 67);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a:hover {
  text-decoration: none;
}

@keyframes move {
  0% {
    transform: rotate(90deg) translate(4px, 0px);
  }
  50% {
    transform: rotate(90deg) translate(-4px, 0px);
  }
  100% {
    transform: rotate(90deg) translate(4px, 0px);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
}

.owl-theme .owl-dots .owl-dot span {
  padding: 7px;
}

.primaryButton {
  color: black;
  background-color: #bfef2d;
  padding: 12px 30px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  font-weight: 600;
  font-size: 18px;
}

.owl-carousel .owl-item img {
  display: block;
  width: auto;
}

.navbar {
  margin-top: 20px;
  color: white;
  position: absolute;
  width: 100%;
}
.navbar .navbarCont {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}
.navbar .navbarCont .navbarLinks {
  display: flex;
}
.navbar .navbarCont .navbarLinks .navbarLogo {
  width: 30%;
  margin: auto 40px auto 0px;
}
.navbar .navbarCont .navbarLinks .navbarLogo img {
  height: 37px;
}
.navbar .navbarCont .navbarLinks .navbarlink {
  display: flex;
  padding: 0px 20px;
  margin: auto;
}
.navbar .navbarCont .navbarLinks .navbarlink .dropdown {
  position: relative;
  display: inline-block;
}
.navbar .navbarCont .navbarLinks .navbarlink .dropdown .dropbtn {
  padding: 22px 0px;
}
.navbar .navbarCont .navbarLinks .navbarlink .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #0a183f;
  min-width: 160px;
  top: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.navbar .navbarCont .navbarLinks .navbarlink .dropdown .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.navbar .navbarCont .navbarLinks .navbarlink .dropdown .dropdown-content a:hover {
  color: #bfef2d;
}
.navbar .navbarCont .navbarLinks .navbarlink .dropdown:hover .dropdown-content {
  display: block;
}
.navbar .navbarCont .navbarLinks .navbarlink .dropdown:hover .dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.navbar .navbarCont .menuContainer {
  display: flex;
}
.navbar .navbarCont .menuContainer .navContact {
  display: flex;
  margin: 0px 40px;
}
.navbar .navbarCont .menuContainer .navContact .phoneLogo {
  margin: auto;
}
.navbar .navbarCont .menuContainer .navContact .phoneLogo i {
  font-size: 24px;
  padding: 0px 10px;
}
.navbar .navbarCont .menuContainer .navContact .phoneNo {
  margin: auto;
}
.navbar .navbarCont .menuContainer .navButton {
  padding: 0px 10px;
  margin: auto;
}
.navbar .navbarCont .menuContainer .navButton img {
  height: 30px;
}

.section1 {
  background-color: #00071a;
  background-image: url(../images/slider_line_shape.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0% 27%;
  padding-top: 66px;
}
.section1 .section1Cont {
  display: flex;
  background: url(../images/slider_shape_33.png);
  background-position: 100px 0px;
  background-repeat: no-repeat;
  padding: 40px 0px;
}
.section1 .section1Cont .section1L {
  width: 5%;
}
.section1 .section1Cont .section1L .section1Bullet .Bullets {
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 50%;
}
.section1 .section1Cont .section1M {
  width: 40%;
  border-left: solid #4d4747 1px;
  padding-left: 15px;
}
.section1 .section1Cont .section1M .section1Head {
  color: white;
  font-size: 75px;
  font-weight: 700;
  line-height: 88px;
}
.section1 .section1Cont .section1M .section1Para {
  width: 25rem;
  color: white;
  font-size: 19px;
  padding: 18px 0px;
}
.section1 .section1Cont .section1M .primaryButton .upArrow {
  padding: 0px 5px;
  margin: 51px 0px;
}
.section1 .section1Cont .section1M .primaryButton:hover .upArrow i {
  transition: 100ms;
  transform: rotate(30deg);
}
.section1 .section1Cont .section1M .section1Card {
  display: flex;
  background-color: #212738;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px 20px 0px 0px;
  margin: 60px 0px;
}
.section1 .section1Cont .section1M .section1Card i {
  color: white;
  margin: auto;
  position: relative;
  right: 5px;
  font-size: 30px;
}
.section1 .section1Cont .section1M .section1Card .section1CR {
  padding: 0px 4px;
}
.section1 .section1Cont .section1M .section1Card .section1CR .section1CHead {
  color: white;
  font-size: 23px;
  padding: 22px 0px 3px;
  font-weight: 700;
}
.section1 .section1Cont .section1M .section1Card .section1CR .section1CPara {
  color: rgb(231, 229, 229);
}
.section1 .section1Cont .section1M .subButton {
  color: white;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  padding: 10px;
  border: #bfef2d solid;
  border-radius: 25px;
  padding: 20px 10px;
}
.section1 .section1Cont .section1M .subButton i {
  transform: rotate(90deg);
  padding: 5px;
  animation: move 2s linear infinite;
}
.section1 .section1Cont .section1R img {
  width: 95%;
}
.section1 .section1Cont .socials {
  color: white;
  margin: 169px 0px;
}
.section1 .section1Cont .socials .social {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  padding: 20px;
}
.section1 .section1Cont .socials .social a {
  color: white;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 4px;
}
.section1 .section1Cont .socials .social a:hover {
  color: #f90058;
}

.section2 {
  background-color: #00071a;
  overflow: clip;
  background-image: url(../images/a_shape3.png);
  background-repeat: no-repeat;
  background-position: 0% 106%;
}
.section2 .section2Top img {
  position: relative;
  left: 27rem;
}
.section2 .section2Cont {
  margin: 0px 0px 0px 7%;
  display: flex;
  color: white;
  background: url(../images/a_shape3.png), #0a183f;
  background-position: 0% 131%;
  background-repeat: no-repeat;
}
.section2 .section2Cont .section2L {
  margin: 66px 72px;
}
.section2 .section2Cont .section2M {
  width: 30%;
  margin: 66px 50px 0px 0px;
}
.section2 .section2Cont .section2M .section2topHead {
  font-size: 20px;
  color: #bababa;
  font-weight: 500;
}
.section2 .section2Cont .section2M .section2topHead img {
  padding: 5px;
  height: 60px;
}
.section2 .section2Cont .section2M .section2Head {
  width: 55%;
  font-size: 60px;
  font-weight: 700;
  line-height: 68px;
}
.section2 .section2Cont .section2M .section2Head span {
  color: #bfef2d;
}
.section2 .section2Cont .section2M .section2Para {
  color: gainsboro;
  text-align: justify;
  font-size: 19px;
}
.section2 .section2Cont .section2M .primaryButton {
  margin: 32px 0px;
}
.section2 .section2Cont .section2R {
  width: 20%;
  position: relative;
}
.section2 .section2Cont .section2R .section2RCard {
  background-color: #00071a;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 100px;
  position: relative;
  right: 116px;
  bottom: 60px;
}
.section2 .section2Cont .section2R .section2RCard .section2CardCont {
  max-width: 250px;
  padding: 1rem;
  position: relative;
  background: linear-gradient(-76deg, #3b7bf7 1%, #47ff00 36%, #ffde00 71%, #eb0ef7 100%);
  padding: 3px;
  border-radius: 100px;
}
.section2 .section2Cont .section2R .section2RCard .section2CardCont .cardInterior {
  background-color: black;
  border-radius: 100px;
  padding: 49px 0px;
  height: -moz-fit-content;
  height: fit-content;
}
.section2 .section2Cont .section2R .section2RCard .section2CardCont .cardInterior .crystalImg img {
  position: absolute;
  top: -113px;
  animation: rotate 14s 2s linear infinite;
}
.section2 .section2Cont .section2R .section2RCard .section2CardCont .cardInterior .section2CardHead {
  font-size: 55px;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.section2 .section2Cont .section2R .section2RCard .section2CardCont .cardInterior .section2CardPara {
  text-align: center;
  margin: auto;
  width: 55%;
}
.section2 .section2Cont .section2R .section2RCard .section2CardCont .cardInterior .section2CardPointer {
  position: relative;
  font-size: 17px;
  top: -165px;
  left: 159px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  padding: 20px 26px;
  background-color: #bfef2d;
  transform: rotate(-40deg);
  color: black;
}
.section2 .section2Cont .section2R .sect2bgImg {
  top: 0;
  left: -67px;
  position: absolute;
}

.sectionService {
  position: relative;
  color: white;
}
.sectionService .serviceCont .servicesTopHead {
  margin-left: 5%;
  color: white;
  padding: 7px;
  font-size: 20px;
}
.sectionService .serviceCont .servicesTopHead img {
  padding: 5px 10px;
  height: 60px;
}
.sectionService .serviceCont .servicesHead {
  color: white;
  width: 55%;
  font-size: 60px;
  font-weight: 700;
  line-height: 68px;
  margin: 21px 0px;
  margin-left: 5%;
}
.sectionService .serviceCont .servicesHead span {
  color: #bfef2d;
}
.sectionService .serviceCont .servicesCardCont {
  width: 80%;
  display: flex;
  padding-bottom: 50px;
}
.sectionService .serviceCont .servicesCardCont .servicesCard {
  width: 90%;
  padding-bottom: 80px;
}
.sectionService .serviceCont .servicesCardCont .servicesCard .servicesCardIcon {
  position: relative;
  height: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}
.sectionService .serviceCont .servicesCardCont .servicesCard .servicesCardIcon img {
  height: 51px;
}
.sectionService .serviceCont .servicesCardCont .servicesCard .servicesCardIcon::before {
  content: "";
  background: url(../images/feature_box_shape.webp);
  position: absolute;
  z-index: -1;
  height: 200px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  background-position: center;
  opacity: 0.3;
}
.sectionService .serviceCont .servicesCardCont .servicesCard .servicesCardHead {
  text-align: center;
  font-size: 23px;
}
.sectionService .serviceCont .servicesCardCont .servicesCard .servicesCardPara {
  text-align: center;
  color: gainsboro;
  margin: auto;
  width: 69%;
}
.sectionService .serviceCont .servicesCardCont .servicesCard .primaryButton {
  margin: 26px auto 0px;
  position: relative;
}
.sectionService .serviceCont .servicesCardCont .servicesCard .primaryButton::before {
  position: absolute;
  content: "";
  top: -49px;
  left: -67px;
  width: 286px;
  height: 163px;
  border-radius: 50%;
  background-color: rgb(0, 7, 26);
  z-index: -1;
}
.sectionService .serviceCont .servicesCardCont .servicesCard .primaryButton::after {
  position: absolute;
  content: "";
  top: -42px;
  left: -66px;
  width: 284px;
  height: 162px;
  border-radius: 50%;
  background: linear-gradient(90deg, #f90058 0%, #3e1cf3 100%);
  z-index: -2;
}
.sectionService .serviceCont .servicesCardCont .servicesCard:hover .servicesCardIcon::before {
  opacity: 1;
}

.sectionService::before {
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -2;
  background-color: rgb(0, 7, 26);
}

.sectionService::after {
  display: block;
  content: "";
  height: 100%;
  /* background-repeat: no-repeat; */
  width: 100%;
  top: 0;
  position: absolute;
  z-index: -2;
  background: url(../images/services_bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.section4 {
  background-color: #00071a;
  position: relative;
  z-index: 3;
  overflow: hidden;
}
.section4 .section4Cont {
  padding-top: 10%;
  padding-bottom: 7%;
}
.section4 .section4Cont .section4TopHead {
  margin-left: 5%;
  color: white;
  padding: 7px;
  font-size: 20px;
}
.section4 .section4Cont .section4TopHead img {
  padding: 5px 10px;
  height: 60px;
}
.section4 .section4Cont .section4Head {
  color: white;
  width: 55%;
  font-size: 60px;
  font-weight: 700;
  line-height: 68px;
  margin: 21px 0px;
  margin-left: 5%;
}
.section4 .section4Cont .section4Head span {
  color: #bfef2d;
}
.section4 .section4Cont .owl-nav {
  font-size: 82px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  color: beige;
  position: absolute;
  bottom: 0;
  right: 215px;
}
.section4 .section4Cont .owl-nav button span {
  height: 30px;
}
.section4 .section4Cont .owl-nav button:hover {
  background: none;
}
.section4 .section4Cont .section4CardCont {
  display: flex;
}
.section4 .section4Cont .section4CardCont .section4CardLeft {
  width: 17%;
  margin-right: 5px;
}
.section4 .section4Cont .section4CardCont .section4CardLeft img {
  width: 100%;
}
.section4 .section4Cont .section4CardCont .section4CardM {
  width: 30%;
}
.section4 .section4Cont .section4CardCont .section4CardM img {
  width: 100%;
}
.section4 .section4Cont .section4CardCont .section4CardRight {
  width: 40%;
  position: relative;
}
.section4 .section4Cont .section4CardCont .section4CardRight .section4CardRightInt {
  height: 78%;
  margin: 12% 0 0 0;
  padding: 4%;
  background-color: #0a183f;
}
.section4 .section4Cont .section4CardCont .section4CardRight .section4CardRightInt .section4CardRightHead {
  font-weight: 600;
  color: white;
  font-size: 25px;
}
.section4 .section4Cont .section4CardCont .section4CardRight .section4CardRightInt .section4CardRightPara {
  color: #9b9b9b;
}
.section4 .section4Cont .section4CardCont .section4CardRight .section4CardRightInt .section4CardBottom {
  color: white;
  display: flex;
  justify-content: space-between;
}
.section4 .section4Cont .section4CardCont .section4CardRight .section4CardRightInt .section4CardNo {
  padding: 0px 10px;
  font-size: 50px;
}
.section4 .section4Cont .section4CardCont .section4CardRight .section4CardRightInt .section4CardNo span {
  font-size: 24px;
}
.section4 .section4Cont .section4CardCont .section4CardRight .section4CardRightInt .section4CardArrow {
  display: none;
  padding: 0px 10px;
  margin: auto 0px;
}
.section4 .section4Cont .section4CardCont .section4CardRight .section4CardRightInt .section4CardArrow i {
  padding: 5px;
}
.section4 .section4Cont .section4CardCont .section4CardRight::before {
  content: " ";
  padding: 1px;
  top: 118px;
  height: 161px;
  position: absolute;
  width: 6px;
  background-image: linear-gradient(-9deg, #f90058 0%, #3e1cf3 100%);
}
.section4 .section4Cont .section4aboutCont {
  background-color: #00000a;
  display: flex;
  margin: 49px 0px 0px 135px;
  padding-left: 40px;
}
.section4 .section4Cont .section4aboutCont .sec4Card {
  color: white;
  width: 27%;
  margin: 21px 2px;
}
.section4 .section4Cont .section4aboutCont .sec4Card .sec4CardHead {
  font-weight: 600;
  font-size: 25px;
  margin: 11px 0px;
  border-bottom: solid 1px rgba(113, 113, 113, 0.3803921569);
  padding-bottom: 17px;
}
.section4 .section4Cont .section4aboutCont .sec4Card .sec4CardPara {
  color: #6c6c6c;
  width: 82%;
  padding-bottom: 60px;
}
.section4 .section4Cont .section4aboutCont:before {
  position: absolute;
  top: -296px;
  right: -135px;
  width: 100%;
  height: 100%;
  background-color: #00000a;
  content: "";
  z-index: -1;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 94%, 53.33% -1px);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 94%, 53.33% -1px);
}

.Sectionfeatures {
  position: relative;
  color: white;
}
.Sectionfeatures .featuresCont {
  display: flex;
  width: 80%;
  margin: auto;
}
.Sectionfeatures .featuresCont .featuresL {
  position: relative;
  display: flex;
  margin-right: 95px;
}
.Sectionfeatures .featuresCont .featuresL .Image2 {
  padding: 20px;
  height: 100px;
  justify-content: center;
  display: flex;
  position: relative;
}
.Sectionfeatures .featuresCont .featuresL .Image2 img {
  position: absolute;
  right: 57px;
  height: 87px;
  top: 49px;
}
.Sectionfeatures .featuresCont .featuresL .Image2::after {
  content: "";
  background: url(../images/feature_box_shape.webp);
  position: absolute;
  z-index: -1;
  height: 300px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  top: -40px;
  right: 0;
  background-position: center;
}
.Sectionfeatures .featuresCont .featuresR .featuresRTopHead {
  font-size: 20px;
  color: #bababa;
  font-weight: 500;
}
.Sectionfeatures .featuresCont .featuresR .featuresRTopHead img {
  padding: 5px;
  height: 60px;
}
.Sectionfeatures .featuresCont .featuresR .featuresRHead {
  width: 65%;
  font-size: 60px;
  font-weight: 700;
  line-height: 68px;
}
.Sectionfeatures .featuresCont .featuresR .featuresRHead span {
  color: #bfef2d;
}
.Sectionfeatures .featuresCont .featuresR .featuresRPara {
  color: gainsboro;
  text-align: justify;
  font-size: 19px;
}
.Sectionfeatures .featuresCont .featuresR .featuresRList ul {
  margin: 30px 0px;
}
.Sectionfeatures .featuresCont .featuresR .featuresRList ul li {
  list-style: none;
  position: relative;
  color: gainsboro;
  text-align: justify;
  font-size: 19px;
  margin: 25px 30px;
}
.Sectionfeatures .featuresCont .featuresR .featuresRList ul li:before {
  content: "";
  height: 100px;
  width: 100%;
  position: absolute;
  left: -56px;
  top: 0;
  background: url(../images/correct.png);
  background-repeat: no-repeat;
  background-size: 5%;
}

.Sectionfeatures::before {
  display: block;
  content: "";
  height: 102%;
  width: 100%;
  padding-bottom: 20px;
  position: absolute;
  z-index: -1;
  background-color: rgb(0, 7, 26);
}

.Sectionfeatures::after {
  content: "";
  background: url(../images/feature_shape_bg.png);
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 43%;
  background-size: contain;
  background-repeat: no-repeat;
  top: -67px;
  background-position: center;
  z-index: -1;
  background-position: 68px 38px;
  background-size: 100%;
}

.section5 {
  color: white;
  position: relative;
}
.section5 .section5Cont {
  display: flex;
  margin: 0px 10%;
  padding: 5% 0%;
}
.section5 .section5Cont .section5L {
  width: 45%;
}
.section5 .section5Cont .section5L .section5TopHead {
  padding: 7px;
  font-size: 20px;
}
.section5 .section5Cont .section5L .section5TopHead img {
  padding: 5px 10px;
  height: 60px;
}
.section5 .section5Cont .section5L .section5Head {
  width: 97%;
  font-size: 60px;
  font-weight: 700;
  line-height: 68px;
}
.section5 .section5Cont .section5L .section5Head span {
  color: #bfef2d;
}
.section5 .section5Cont .section5L .section5Para {
  width: 93%;
  font-size: 18px;
  padding: 18px 0px;
}
.section5 .section5Cont .section5L .section5LBottom {
  display: flex;
  gap: 10px;
}
.section5 .section5Cont .section5L .section5LBottom .section5LText {
  display: flex;
}
.section5 .section5Cont .section5L .section5LBottom .section5LText p {
  font-weight: 600;
  margin-bottom: 0rem;
  font-size: 35px;
}
.section5 .section5Cont .section5L .section5LBottom .section5LText img {
  height: 36px;
  margin: auto;
  padding: 0px 10px;
}
.section5 .section5Cont .section5L .section5LBottom .section5LButton span i {
  rotate: -45deg;
  padding: 5px;
}
.section5 .section5Cont .section5R {
  display: flex;
  width: 50%;
}
.section5 .section5Cont .section5R .owl-nav {
  font-size: 30px;
  text-align: center;
  color: beige;
}
.section5 .section5Cont .section5R .owl-nav button {
  height: -moz-fit-content;
  height: fit-content;
}
.section5 .section5Cont .section5R .owl-nav button span {
  display: block;
  height: auto;
  padding: 0px 8px;
}
.section5 .section5Cont .section5R .owl-nav button:hover {
  background: none;
}
.section5 .section5Cont .section5R .sectionRCardCont {
  width: 80%;
}
.section5 .section5Cont .section5R .sectionRCardCont .section5RCard {
  width: 92%;
  padding: 45px;
  background: #0a183f;
  border-top-right-radius: 117px;
  border-bottom-left-radius: 117px;
  margin: auto;
  position: relative;
}
.section5 .section5Cont .section5R .sectionRCardCont .section5RCard .sec5RCardProfile {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px 0px 0px 40px;
}
.section5 .section5Cont .section5R .sectionRCardCont .section5RCard .sec5RCardProfile img {
  height: 80px;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #858585;
}
.section5 .section5Cont .section5R .sectionRCardCont .section5RCard .section5RCardPara {
  margin: 10px auto;
  padding-bottom: 15px;
  word-spacing: 1px;
  line-height: 26px;
  width: 75%;
  border-bottom: solid 1px rgba(184, 184, 184, 0.3490196078);
}
.section5 .section5Cont .section5R .sectionRCardCont .section5RCard .review {
  margin: 0px 0px 0px 45px;
  display: flex;
}
.section5 .section5Cont .section5R .sectionRCardCont .section5RCard .review .author {
  font-size: 20px;
  font-weight: 700;
}
.section5 .section5Cont .section5R .sectionRCardCont .section5RCard .review .author span {
  font-weight: 200;
  font-size: 16px;
  color: gainsboro;
}
.section5 .section5Cont .section5R .sectionRCardCont .section5RCard .review .stars {
  margin: auto;
  color: yellow;
  font-size: 20px;
}
.section5 .section5Cont .section5R .sectionRCardCont .section5RCard::before {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 45px;
  right: 0px;
  background-image: linear-gradient(-76deg, #3b7bf7 1%, #47ff00 36%, #ffde00 71%, #eb0ef7 100%);
  border-top-right-radius: 117px;
  border-bottom-left-radius: 117px;
  rotate: 10deg;
  content: " ";
  z-index: -1;
  top: 0;
}

.section5::before {
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  background-color: rgb(0, 7, 26);
  background-image: url(../images/tm_bg_shape.webp);
  background-size: 100%;
  background-repeat: no-repeat;
}

.section6 {
  background: url(../images/cta_shape2.png) left, url(../images/cta_shape3.png) right;
  background-color: rgb(0, 7, 26);
  background-size: 400px;
  background-repeat: no-repeat;
  padding: 3% 0px;
}
.section6 .section6Cont {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}
.section6 .section6Cont .section6Text {
  font-size: 35px;
  font-weight: 700;
  color: white;
}
.footer {
  background-color: rgb(0, 7, 26);
  color: white;
}
.footer .footerContainer {
  display: flex;
  width: 70%;
  margin: auto;
  padding: 50px 0px;
  justify-content: space-between;
}
.footer .footerContainer .footerL {
  width: 25%;
}
.footer .footerContainer .footerL .footerLHead {
  margin: 20px 0px;
}
.footer .footerContainer .footerL .footerLHead img {
  padding: 0px 15px 0px 0px;
  height: 60px;
}
.footer .footerContainer .footerL .footerLHead a {
  color: white;
  font-size: 32px;
  font-weight: 600;
}
.footer .footerContainer .footerL .footerLPara {
  font-size: 16px;
  color: gainsboro;
  margin: 10px 0px;
}
.footer .footerContainer .footerL .primaryButton {
  margin: 30px 0px;
}
.footer .footerContainer .footerL .primaryButton a {
  color: black;
}
.footer .footerContainer .footerM {
  width: 25%;
}
.footer .footerContainer .footerM .footerMHead {
  font-size: 32px;
  font-weight: 600;
  margin: 20px 0px;
}
.footer .footerContainer .footerM .footerMPara {
  font-size: 16px;
  color: gainsboro;
  margin: 10px 0px;
}
.footer .footerContainer .footerM .footerMMAil {
  margin: 30px 0px 20px;
}
.footer .footerContainer .footerM .footerMMAil form {
  background-color: #361f61;
  width: -moz-fit-content;
  width: fit-content;
}
.footer .footerContainer .footerM .footerMMAil form input {
  background: none;
  border: none;
}
.footer .footerContainer .footerM .footerMMAil form input::-moz-placeholder {
  color: white;
  padding: 0px 10px;
}
.footer .footerContainer .footerM .footerMMAil form input::placeholder {
  color: white;
  padding: 0px 10px;
}
.footer .footerContainer .footerM .footerMMAil form i {
  padding: 15px 20px;
  background-color: transparent;
  background-image: linear-gradient(90deg, #f90058 0%, #3e1cf3 100%);
}
.footer .footerContainer .footerM .footerSocials {
  display: flex;
}
.footer .footerContainer .footerM .footerSocials .footerSocial {
  padding: 0px 30px 0px 0px;
}
.footer .footerContainer .footerM .footerSocials .footerSocial a {
  font-size: 21px;
  color: gainsboro;
}
.footer .footerContainer .footerM .footerSocials .footerSocial a:hover {
  color: #f90058;
}
.footer .footerContainer .footerR {
  width: 25%;
}
.footer .footerContainer .footerR .footerRHead {
  font-size: 32px;
  font-weight: 600;
  margin: 20px 0px;
}
.footer .footerContainer .footerR .footerLocation {
  font-size: 15px;
  margin: 10px 0px;
}
.footer .footerContainer .footerR .footerLocation i {
  color: #f90058;
  padding-right: 8px;
}
.footer .footerContainer .footerR .footerLocation a {
  color: gainsboro;
}
.footer .footerContainer .footerR .footerRPara {
  font-size: 14px;
  color: gainsboro;
  margin: 10px 0px;
}
.footer .copyright .copyrightCont .copyrightText {
  margin: auto;
  width: 60%;
  text-align: center;
  border-top: solid #616161 1px;
  padding: 20px 0px 40px;
}

.backdrop {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 10, 0.3725490196);
  z-index: 8;
}

.sideMenu {
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
  position: fixed;
  z-index: 10;
  background-color: #00000a;
  width: 50%;
  color: rgb(202, 202, 202);
}
.sideMenu .closeButton {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px 0px 0px auto;
}
.sideMenu .closeButton .closeIcon {
  padding: 10px;
  /* margin: 10px; */
  height: 43px;
}
.sideMenu .sideMenuCont {
  margin: 24px 116px;
}
.sideMenu .sideMenuCont .webLogo img {
  height: 47px;
}
.sideMenu .sideMenuCont .logoPara {
  margin: 25px 0px;
  width: 79%;
}
.sideMenu .sideMenuCont .menuList .menuItem {
  margin: 12px 0px;
  font-size: 33px;
}
.sideMenu .sideMenuCont .menuList .menuItem .dropdown {
  position: relative;
  display: inline-block;
}
.sideMenu .sideMenuCont .menuList .menuItem .dropdown .dropbtn i {
  scale: 0.6;
}
.sideMenu .sideMenuCont .menuList .menuItem .dropdown .dropdown-content {
  font-size: 20px;
  display: none;
  position: relative;
  width: 203px;
  /* background-color: rgb(10, 24, 63); */
  /* min-width: 160px; */
  /* left: 120px; */
  /* top: 10px; */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px;
  z-index: 1;
}
.sideMenu .sideMenuCont .menuList .menuItem .dropdown .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.sideMenu .sideMenuCont .menuList .menuItem .dropdown .dropdown-content a:hover {
  color: #bfef2d;
}
.sideMenu .sideMenuCont .menuList .menuItem .dropdown:hover .dropdown-content {
  display: block;
}
.sideMenu .sideMenuCont .menuList .menuItem .dropdown:hover .dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.sideMenu .sideMenuCont .contactDetails {
  display: flex;
}
.sideMenu .sideMenuCont .contactDetails .contactPhone span {
  color: white;
  font-size: 23px;
  margin: 0px 0px 0px 20px;
  padding-right: 20px;
  border-right: solid rgba(255, 255, 255, 0.422) 1px;
  font-weight: 600;
}
.sideMenu .sideMenuCont .contactDetails .contactMail {
  padding-left: 20px;
  margin: auto 0px;
}
.sideMenu .sideMenuCont .contactSocials {
  display: flex;
  padding: 20px 0PX;
}
.sideMenu .sideMenuCont .contactSocials .contactSocial {
  font-size: 20px;
  padding: 0px 30px 0px 0px;
}

.topButton {
  position: fixed;
  bottom: 60px;
  right: 60px;
  z-index: 3;
}
.topButton i {
  padding: 12px;
  color: white;
  border: solid greenyellow;
  border-radius: 50%;
}

.active {
  display: block;
}

@media (min-width: 426px) and (max-width: 768px) {
  .navbar .navbarCont .navbarLinks .navbarlink {
    display: none;
  }
  .section1 .section1Cont .section1R img {
    width: 95%;
    position: relative;
    left: 96px;
  }
}/*# sourceMappingURL=skeleton.css.map */